<section class="mbl-2">
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
		<div class="mbs title">{{ heading_title }}</div>
		<div class="mbs cols-5">
		  {{ html }}
		</div>
	  </div>
	</div>
  </div>
</section>
    