<div class="sidebarnavHmt">
  Choose category
  <i></i>
</div>
<div class="sidebarnav">
  <div class="stitle" data-bs-toggle="modal" data-bs-target="#request" style="cursor:pointer">Request a service</div>
  {{ treemenu }}
</div>